
@font-face {
  font-family: 'MyCustomFont';
  src: url('./fonts/Chomsky.otf') format('truetype');
}
body{
    background-image: url(images/news.jpg);
    font-family: 'MyCustomFont' ;
}
.head{
    /* background-color: rgba(30, 30, 30, 0.319); */
        font-family: "Noticia Text", serif;
        font-weight: 400;
        font-style: normal;
    font-size: 4em;
    font-weight: bold;
    text-align: left;
    color:white;
}
.outer{
    display: flex;
    padding: 5%;
    align-items: flex-start;
    justify-content: flex-start;
}