
@font-face {
  font-family: 'MyCustomFont';
  src: url('./fonts/Chomsky.otf') format('truetype');
}
body{
    background-image: url(images/news.jpg);
    font-family: 'MyCustomFont' ;
}
.head{
    /* background-color: rgba(30, 30, 30, 0.319); */
    font-family: "Noticia Text", serif;
    font-weight: 400;
    font-size: 4em;
    color:white;
}
.outer{
    padding: 5%;
    display: flex;
    flex-direction: row;
    gap: 3%;
}